<div class="row mt-1">
	<div class="col-sm-6">
		<h1 class="d-inline">Posts</h1>
	</div>
	<div class="col-sm-6 text-right">
		<%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
	</div>
</div>
<%= render 'index' %>
